html{
    scroll-padding-top: 56px;
    /*This stops the navbar overlapping due to the use of sticky-top*/
}

.icon-link i{
    font-size: 2rem;
}

/*This section will contain the styling related to the Experience section*/

.exp-image{
    max-width: 100%;
    vertical-align: top; /* Align image with the top of the container*/
    padding-right: 2%;
}




