.swiper {
  width: auto;
  height: auto;
  margin: 0 auto;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap; /* Prevents wrapping of slides */
}
  
.swiper-slide {
  flex-shrink: 0; /* Prevents shrinking of the slide */
  width: 100%; /* Full width for each slide */
  display: flex;
  height: auto;
  justify-content: center; /* Center content inside the slide horizontally */
  align-items: center; /* Center content inside the slide vertically */
  overflow: hidden;
  position: relative;
}

.project-image {
  display: block;
  width: 100%; /* Ensures the image takes the full width of its container */
  height: auto; /* Keeps the image ratio intact */
}

/* This section creates a text overlay, that fades in when a project slide is hovered*/

.project-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  
}

.swiper-slide:hover .project-overlay {
  opacity: 1;
}
